# IDE files
.DS_Store
.eclipse
.idea
.vscode

# Build and Output
build/

# Generated / Intermediate
**/CMakeCache.txt
**/CMakePresets.json
**/CTestTestfile.cmake
**/CPackConfig.cmake
**/cmake_install.cmake
**/install_manifest.txt
**/compie_commands.json

# Local info
*.private
*.private.cmake
