# IDE files
.DS_Store

# Build and Output
build/

# Generated / Intermediate
**/CMakeCache.txt
**/CMakePresets.json
**/CTestTestfile.cmake
**/CPackConfig.cmake
**/cmake_install.cmake
**/install_manifest.txt
**/compie_commands.json

# Word temporary
~$*.docx

# Local info
*.private
*.private.c
*.private.h
*.private.cmake
